.container {
    margin: 0 14px
}

.form {
    width: 100%;
    display: flex;
    gap: 14px;
    margin-top: 50px;
}

.form input {
    background-color: #20212c;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    color: rgb(175, 175, 175);
    transition: 0.3s;
}

.form input:focus {
    border: 1px solid rgba(19, 78, 112, 1);
}

.form button {
    background-color: transparent;
    color: rgb(175, 175, 175);
    transition: all 0.5s;
}

.form button:hover {
    color: rgb(225, 225, 225);
    scale: 1.1;
}

table {
    border-collapse: separate;
    border-spacing: 0 14px;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 16px;
    margin: 0.5em 0.75em;
}

th {
    color: white;
}

.row {
    background-color: #20212c;
    color: white;
}

td:first-child,
th:first-child {
    border-radius: 8px 0 0 8px;
}

td:last-child,
th:last-child {
    border-radius: 0 8px 8px 0;
}

table th,
table td {
    padding: 14px;
    text-align: center;
}

.tdlabel {
    font-weight: bold;
    font-size: 16px;
}

.tdProfit {
    color: #12f98a;
    font-weight: bold;
}

.tdLoss {
    color: #f91257;
    font-weight: bold;
}

.loadMore {
    background-color: transparent;
    border: 1px solid rgba(19, 78, 112, 1);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(19, 78, 112, 1);
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    margin-top: 25px;
    margin-bottom: 25px;
}

.loadMore:hover {
    color: rgb(39, 156, 224);
    border: 1px solid rgb(39, 156, 224);
}

.logo {
    margin-left: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    transition: all 0.5s;
}

.logo:hover {
    transform: scale(1.3);
    z-index: 99;
}

.name {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        position: absolute;
        width: 1px;
        padding: 0;
    }

    .row {
        display: block;
        margin-bottom: 14px;
    }

    table td {
        border-bottom: 1px solid rgba(221, 221, 221, 0.170);
        display: block;
        text-align: right;
        font-size: 14px;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }

    table td:last-child {
        border-bottom: 0;
    }

    td:first-child,
    th:first-child {
        border-radius: 0px;
    }

    td:last-child,
    th:last-child {
        border-radius: 0px;
    }
}