.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    max-width: 1080px;
}

.titulo {
    color: rgb(40, 129, 180);
    font-size: 32px;
    font-weight: bold;
    margin-top: 50px;
}

.subTitulo {
    color: rgba(197, 197, 197, 0.9);
}

.logo {
    margin-top: 50px;
}